<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera_sensor">
    <link name="camera">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="0.15"/>
            <inertia ixx="1.44125e-3" ixy="0.0" ixz="0.0" iyy="1.6425e-3" iyz="0.0" izz="3.6125e-4"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.15 0.08 0.12"/>
            </geometry>
            <material name="">
                <color rgba="1.0 1.0 1.0 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.05 0.03 0.05"/>
            </geometry>
        </collision>
    </link>
    <link name="arm">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <mass value="1.0"/>
            <inertia ixx="7.41e-4" ixy="0.0" ixz="0.0" iyy="8.741e-3" iyz="0.0" izz="9.066e-3"/>
        </inertial>
        <visual name="">
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.32 0.08 0.05"/>
            </geometry>
            <material name="">
                <color rgba="1.0 1.0 0.0 1.0"/>
                <texture filename=""/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
            <geometry>
                <box size="0.0 0.0 0.0"/>
            </geometry>
        </collision>
    </link>
    
    <gazebo reference="arm">
    <material>Gazebo/Yellow</material>
    </gazebo>

    <joint name="cam_joint" type="fixed">
        <origin xyz="-0.1851 0.0185 0.0" rpy="0.0 1.57 1.57"/>
        <parent link="arm"/>
        <child link="camera"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
    <link name="camera_optical"/>
    <joint name="camera_optical_joint" type="fixed">
        <parent link="camera"/>
        <child link="camera_optical"/>
        <origin xyz="0.0 0.0 0.0" rpy="-1.57 -1.57 0.0"/>
    </joint>
    
    <joint name="arm_joint" type="fixed">
        <origin xyz="0.0 0.210684 0.16" rpy="0.0 1.57 0.0"/>
        <parent link="chassis"/>
        <child link="arm"/>
        <axis xyz="0.0 0.0 0.0"/>
        <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
    </joint>
    <gazebo reference="camera_optical">
    <sensor type="camera" name="camera1">
        <visualize>false</visualize>
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
               That pixel's noise value is added to each of its color
               channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>rrbot/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_optical</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>
</robot>