<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="gps_sensor">
<link name="gps_link">
    <inertial>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <mass value="1.0"/>
        <inertia ixx="7.41e-4" ixy="0.0" ixz="0.0" iyy="7.41e-4" iyz="0.0" izz="1.066e-3"/>
    </inertial>
    <visual name="">
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
        <geometry>
            <box size="0.08 0.08 0.05"/>
        </geometry>
        <material name="">
            <color rgba="1.0 1.0 1.0 1.0"/>
            <texture filename=""/>
        </material>
    </visual>
</link>
<gazebo reference="gps_link">
<material>Gazebo/Purple</material>
</gazebo>
<joint name="gps_joint" type="fixed">
    <origin xyz="-0.1236 0.0 0.053" rpy="0.0 0.0 0.0"/>
    <parent link="chassis"/>
    <child link="gps_link"/>
    <axis xyz="0.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.0" effort="0.0" velocity="0.0"/>
</joint>



<gazebo>
            <plugin name="gazebo_ros_gps" filename="libhector_gazebo_ros_gps.so">
                <updateRate>40</updateRate>
                <bodyName>gps_link</bodyName>
                <frameId>gps_link</frameId>
                <topicName>/gps/fix</topicName>
                <velocityTopicName>/gps/fix_velocity</velocityTopicName>
                <referenceLatitude>0.0</referenceLatitude>
                <referenceLongitude>0.0</referenceLongitude>
                <referenceHeading>0</referenceHeading>
                <referenceAltitude>1</referenceAltitude>
<!--                <drift>0.001 0.001 0.001</drift>-->
<!--                <gaussianNoise>0.01 0.01 0.01</gaussianNoise>-->
<!--                <velocityDrift>0 0 0</velocityDrift>-->
<!--                <velocityGaussianNoise>0.05 0.05 0.05</velocityGaussianNoise>-->
            </plugin>
        </gazebo>

</robot>